<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="true">

    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out"/>
        <layout class="com.jcabi.log.MulticolorLayout">
            <param name="ConversionPattern" value="[%color{%p}]: %m%n"/>
        </layout>
    </appender>

    <logger name="org.hibernate.type" additivity="false">
        <level value="trace"/>
        <appender-ref ref="Console"/>
    </logger>

    <logger name="org.hibernate.SQL" additivity="false">
        <level value="debug"/>
        <appender-ref ref="Console"/>
    </logger>

    <logger name="org.springframework">
        <level value="debug"/>
        <appender-ref ref="Console"/>
    </logger>
</log4j:configuration>